@model GalleryViewModel
@{ 
    var pgr = Model.Pager;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12 center-align">
                    <h4 class="font-raleway white-text">@Model.Gallery.Title</h4>
                </div>
            </div>
        </div>
        <div class="container" id="gallery-container">
            <div id="lightgallery" class="row">

                @for (int index = 0; index < Model.Gallery.GalleryImages.Count; index++)
                {
                    GalleryImage image = Model.Gallery.GalleryImages[index];
                    string path = "https://aajoaihlwo.cloudimg.io/v7/https://www.parksandwils.com/" + image.Path + "?h=400&w=400&gravity=auto";
                    string fullpath = "https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/" + image.Path;
                    <div class="col s6 m4 l4">
                        <a class="item" data-src="@fullpath">
                            @if (index < 7)
                            {
                                <img class="responsive-img" src="@path" />
                            }
                            else
                            {
                                <img loading="lazy" class="responsive-img" src="@path" />
                            }
                        </a>
                    </div>
                }
            </div>
        </div>
        @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
        {            
            <ul class="pagination center-align white-text" style="padding-bottom: 24px;">
                @if (pgr.ShowNewer)
                {
                    var pageNum = pgr.CurrentPage - 1;
                    string linkPath = $"~/{pgr.LinkBase}?page={pageNum}";
                    <li class="waves-effect">
                        <a class="white-text" href="@Url.Content(linkPath)"><i class="material-icons">chevron_left</i></a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a class="" href="!#"><i class="material-icons">chevron_left</i></a>
                    </li>
                }
                
                @for (int index = 0; index < pgr.LastPage; index++)
                {
                    var current = index + 1;
                    string styleClass = "waves-effect";
                    string linkPath = $"~/{pgr.LinkBase}?page={current}";
                    if (current == pgr.CurrentPage)
                    {
                        styleClass = "active";
                    }
                    <li class="@styleClass">
                        <a class="white-text" href="@Url.Content(linkPath)">@current</a>
                    </li>
                }

                @if (pgr.ShowOlder)
                {
                    var pageNum = pgr.CurrentPage + 1;
                    string linkPath = $"~/{pgr.LinkBase}?page={pageNum}";
                    <li class="waves-effect">
                        <a class="white-text" href="Url.Content(@linkPath)"><i class="material-icons">chevron_right</i></a>
                    </li>
                }
                else
                {
                    <li class="disabled">
                        <a class="" href="#!"><i class="material-icons">chevron_right</i></a>
                    </li>
                }
            </ul>
        }
        <div class="container pt-10" style="border-top: 1px solid white;">
            <span class="to-top-wrapper"><a href="#top" class="to-top"><i class="material-icons cyan-text text-darken-1" style="font-size: 46px;">arrow_drop_up</i></a></span>
        </div>
    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

    <script src="~/themes/materialize/plugins/lightgallary/js/lightgallery.js"></script>
    <script src="~/themes/materialize/plugins/lightgallary/js/lg-fullscreen.js"></script>
    <script src="~/themes/materialize//plugins/lightgallary/js/lg-thumbnail.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightgallery").lightGallery({
                selector: '.item',
                thumbnail: true
            });
        });
    </script>
</body>
</html>