@model ListModel
@{  
    bool topSectionWhite = false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>

        <style>
            .card .card-content {
                padding-top: 0px;
                padding-bottom: 6px;
                padding-left: 10px;
                padding-right: 10px;
            }
        </style>

        <div class="parallax-container">
            <div class="parallax">
                <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/vanAtLake.jpg" />
            </div>
        </div>

        <div class="section white">
            <div class="wp1 row container center-align">
                @*<h4 class="font-amatic">Welcome to Parks & Wils!</h4>*@
                @*<h5 class="grey-text text-darken-3 lighten-3 font-shadows-into-light">
                    In early 2019 we bought a RAM Promaster Van and turned it into our home on wheels.
                    We feel the most alive when we're out in nature disconnected from our routine lives and living in the moment.
                    This winter we'll be chasing powder and traveling through mountain towns.
                    We hope our adventures inspire you to spend your days living a life that makes you happy.
                    <br />
                    Cheers!
                </h5>*@
                <a href="~/AboutUs" style="color: black;">
                    <div class="wp2 col s6 m6 l6">
                        <img class="circle responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/themes/materialize/images/Jess.jpg" />
                        <p class="flow-text font-major-mono">JWiLs</p>
                    </div>
                    <div class="wp3 col s6 m6 l6">
                        <img class="circle responsive-img" src="https://aajoaihlwo.cloudimg.io/cdn/n/n/https://www.parksandwils.com/themes/materialize/images/Parker.jpg" />
                        <p class="flow-text font-major-mono">PaRKs</p>
                    </div>
                    <h5 class="wp11 grey-text text-darken-3 lighten-3 font-amatic">Click to learn about Jessica and Parker.</h5>
                </a>
            </div>
        </div>

        <div class="section">
            <div class="row container center-align">
                <h3 class="font-amatic white-text">Featured Posts</h3>
                @foreach (PostItem post in Model.Posts)
                {
                    <div class="wp6 col s12 m4 l4">
                        <a href="~/posts/@post.Slug" title="@post.Title" style="color: black;">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdn/n/n/https://www.parksandwils.com/@post.Cover" />
                                </div>
                                <div class="card-content">
                                    <h4 class="font-shadows-into-light">@post.Title</h4>
                                </div>
                                <div class="card-content font-raleway">
                                    @post.Description
                                </div>
                            </div>
                        </a>
                    </div>
                }
                <div class="col s12 m12 l12">
                    <a class="waves-effect waves-light btn font-raleway" title="All Post" href="~/Blog">View All Posts</a>
                </div>
            </div>
        </div>

        <div class="section white">
            <div class="row container center-align">
                <h3 class="font-amatic">Galleries</h3>
                <div class="carousel" style="margin-top: -100px; margin-bottom: -100px;">
                    @foreach (Gallery gallery in Model.Galleries)
                    {
                        var imgPath = "https://aajoaihlwo.cloudimg.io/v7/https://www.parksandwils.com/" + gallery.CoverImagePath + "?h=360&w=640&gravity=auto";
                        <a class="carousel-item" href="~/collections/@gallery.Slug" title="@gallery.Title">
                            <div class="card hoverable">
                                <div class="card-image">
                                    <img class="responsive-img" src="@imgPath" loading="lazy" />
                                </div>
                                <div class="card-content blue-grey font-raleway" style="padding-top: 6px; padding-bottom: 6px; color: white;">
                                    @gallery.Title
                                </div>
                            </div>
                        </a>
                    }
                </div>
                <div class="col s12 m12 l12">
                    <a class="waves-effect waves-light btn font-raleway" title="All Galleries" href="~/Collections">View All Galleries</a>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="wp9 row container center-align">
                <h3 class="font-amatic white-text">Featured Video</h3>
                <div class="youtube-responsive" style="margin-top: 1em;">
                    <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/y8JAaz50rlg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row container center-align">
                <a class="waves-effect waves-light btn font-raleway" title="All Videos" href="~/Videos">View All Videos</a>
            </div>
        </div>

        <div class="section white">
            <div class="wp10 row container center-align">
                <h3 class="font-amatic"><i class="fas fa-map-marked-alt"></i> Current Location</h3>
                <div class="col s12 m12 l8 offset-l2">
                    <div id="map" style="margin-left: auto; margin-right: auto; display: block;"></div>
                </div>
            </div>
            <div class="wp12 row container center-align">
                <h4 class="font-amatic">Resorts Visited in 19/20 Season</h4>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <span>Copper</span>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> Winter Park
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> Breckenridge
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> Keystone
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/steamboat-springs">Steamboat</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/utah-skiing">Solitude</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/utah-skiing">Snowbird</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/utah-skiing">Park City</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/utah-skiing">Snowbasin</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/big-sky">Big Sky</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/jackson-hole-teton-valley">Jackson Hole</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/jackson-hole-teton-valley">Targhee</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/washington-skiing">Stevens Pass</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/washington-skiing">Crystal</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/washington-skiing">Snoqualmie</a>
                </div>
                <div class="col s6 m6 l4 font-raleway">
                    <i class="material-icons">check</i> <a href="~/posts/whistler">Whistler</a>
                </div>
                <div class="col s6 m6 l4 font-raleway center-align">
                    <i class="material-icons">check</i> <a href="~/posts/revelstoke">Revelstoke</a>
                </div>
                <div class="col s6 m6 l4 font-raleway center-align">
                    <i class="material-icons">check</i> <a href="~/posts/revelstoke">Sunshine</a>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <partial name="~/Views/Themes/Materialize/_Shared/_ToTopSection.cshtml" model="topSectionWhite" />
            </div>
        </div>

        @*<div class='embedsocial-instagram' data-ref="676bd17edb0d651df8bf1eb8e162b33dda5cce04"></div>*@
        @*<script>(function (d, s, id) { var js; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialInstagramScript"));</script>*@
        <script>
            function initMap() {
                var myLatLng = { lat: @Model.Blog.Latitude, lng: @Model.Blog.Longitude };

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: myLatLng
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map
                    //,title: 'Jenny Lake, Grand Teton National Park'
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALvTDDLZLsNtxTdNmHuqBjsTTooLwkA2M&callback=initMap">
        </script>

    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

    @*<script src="https://cdn.scaleflex.it/plugins/js-cloudimage-responsive/3.1.0/js-cloudimage-responsive.min.js"></script>
    <script>
        const ciResponsive = new window.CIResponsive({
            token: 'aajoaihlwo'//,
            //baseUrl: 'https://cloudimage.public.airstore.io/aajoaihlwo'
            //baseUrl: 'https://aajoaihlwo.cloudimg.io/' // optional
        });
    </script>*@
    <script>
        $(document).ready(function () {
            $('.carousel').carousel();
        });
    </script>

</body>
</html>