@model ListModel
@{
    ViewData["bodyClass"] = "home";
    var pgr = Model.Pager;
    bool topSectionWhite = true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"] blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>

        @if (Model.PostListType == PostListType.Search)
        {
            <div class="section">
                <div class="row container center-align">
                    <div class="col s12 m12 l12">
                        <div class="card hoverable">
                            <div class="card-content">
                                @if (Model.Posts.Count() < 1)
                                {
                                    <h4 class="font-shadows-into-light">No Results Found</h4>
                                    <p class="font-raleway">Looks like we couldn't find a match on "<span id="search-term"></span>". Try another search.</p>
                                }
                                else
                                {
                                    <h4 class="font-shadows-into-light">Search Results for "<span id="search-term"></span>"</h4>
                                    <p class="font-raleway">@Model.Posts.Count() matches found.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.Posts != null)
        {
            foreach (var item in Model.Posts)
            {
                var img = string.IsNullOrWhiteSpace(item.Cover) ? Model.Blog.Cover : item.Cover;
                <div>
                    <a href="~/posts/@item.Slug" title="@item.Title" class="white-text">
                        <div class="parallax-container">
                            <div class="parallax">
                                <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/@img" alt="@item.Title" />
                            </div>
                        </div>
                        <div class="section no-padding-section">
                            <div class="row container center-align">
                                <div class="col s12 m12 l12">
                                    <h4 class="font-shadows-into-light white-text">
                                        @item.Title
                                    </h4>
                                    <span class="white-text text-darken-3 lighten-3 font-raleway">@item.Published.ToFriendlyDateString()</span>
                                    <span class="white-text text-darken-3 lighten-3 font-raleway">
                                        @Html.Raw(Markdig.Markdown.ToHtml(item.Description))
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }

        @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
        {
            <ul class="pagination center-align white-text">
                @if (pgr.ShowOlder)
                {
                    <li class="waves-effect" style="margin-right: 1em;">
                        <a class="white-text font-raleway" style="display: table-cell" href="~/@pgr.LinkToOlder">
                            <i class="material-icons white-text" style="vertical-align: middle;">chevron_left</i> older
                        </a>
                    </li>
                }
                @if (pgr.ShowNewer)
                {
                    <li class="waves-effect" style="margin-left: 1em; vertical-align: middle;">
                        <a class="white-text font-raleway" style="display: table-cell" href="~/@pgr.LinkToNewer">
                            newer
                            <i class="material-icons white-text" style="vertical-align: middle;">chevron_right</i>
                        </a>
                    </li>
                }
            </ul>
        }

        <partial name="~/Views/Themes/Materialize/_Shared/_ToTopSection.cshtml" model="topSectionWhite" />

        <div class="section white">
            <div class="row container center-align">
                <h5 class="font-raleway"><i class="fas fa-map-marked-alt"></i> Current Location</h5>
                <div class="col s12 m12 l8 offset-l2">
                    <div id="map" style="margin-left: auto; margin-right: auto; display: block;"></div>
                </div>
            </div>
        </div>

        <script>
            function initMap() {
                var myLatLng = { lat: @Model.Blog.Latitude, lng: @Model.Blog.Longitude };

                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 8,
                    center: myLatLng
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map
                    //,title: 'Jenny Lake, Grand Teton National Park'
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALvTDDLZLsNtxTdNmHuqBjsTTooLwkA2M&callback=initMap">
        </script>

    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />
    <script>
        (function ($) {
            $(function () {   
                $('#search-term').html(getParamByNameLower('term'));
            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
</body>
</html>