@model ListModel
@{
        ViewData["bodyClass"] = "home";
        var pgr = Model.Pager;
        bool topSectionWhite = false;        
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"] blue-grey">

    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <main>
        @if (Model.PostListType == PostListType.Search)
        {
            <div class="section">
                <div class="row container center-align">
                    <div class="col s12 m12 l12">
                        <div class="card hoverable">
                            <div class="card-content">
                                @if (Model.Posts.Count() < 1)
                                {
                                    <h4 class="font-shadows-into-light">No Results Found</h4>
                                    <p class="font-raleway">Looks like we couldn't find a match on "<span id="search-term"></span>". Try another search.</p>
                                }
                                else
                                {
                                    <h4 class="font-shadows-into-light">Search Results for "<span id="search-term"></span>"</h4>
                                    <p class="font-raleway">@Model.Posts.Count() matches found.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Model.PostListType == PostListType.Blog)
        {
            <div class="container animated fadeInUp">
                <div class="parallax-container" style="box-shadow: 25px 25px 50px 0 #607d8b inset, -25px -25px 50px 0 #607d8b inset ">
                    <div class="parallax">
                        <img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/data/admin/2020/5/north-america-map-blue-wide.png" alt="North America" />
                        @*<img class="responsive-img" src="https://aajoaihlwo.cloudimg.io/cdno/n/n/https://www.parksandwils.com/data/admin/2020/5/north-america-map-blue.png" alt="North America" />*@
                    </div>
                    <h3 class="center-align font-shadows-into-light white-text animated fadeInUp" style="margin-top: 20%">TRAVEL BLOG</h3>
                </div>
            </div>
        }
        else if (Model.PostListType == PostListType.Category)
        {            
            <h3 class="center-align font-shadows-into-light white-text animated fadeInUp" style="text-transform: uppercase;">@Model.Category</h3>
        }
        <div class="container">
            <div class="row">
                @if (Model.Posts != null)
                {
                    var index = 0;
                    foreach (var post in Model.Posts)
                    {
                        index++;
                        var img = "https://aajoaihlwo.cloudimg.io/v7/https://www.parksandwils.com/";
                        img += string.IsNullOrWhiteSpace(post.Cover) ? Model.Blog.Cover : post.Cover;
                        img += "?h=360&w=640&gravity=auto";
                        var waypoint = "wp" + index.ToString();
                        <div class="@waypoint col s12 m6 l4">
                            <a href="~/posts/@post.Slug" title="@post.Title" style="color: black;">
                                <div class="card hoverable card-height">
                                    <div class="card-image">
                                        <img class="responsive-img" alt="@post.Title" src="@img" />
                                    </div>
                                    <div class="card-content font-raleway center-align">
                                        @post.Description
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>

        @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
        {
            <ul class="pagination center-align white-text">
                @if (pgr.ShowOlder)
                {
                    <li class="waves-effect" style="margin-right: 1em;">
                        <a class="white-text font-raleway" style="display: table-cell" href="~/@pgr.LinkToOlder">
                            <i class="material-icons white-text" style="vertical-align: middle;">chevron_left</i> older
                        </a>
                    </li>
                }
                @if (pgr.ShowNewer)
                {
                    <li class="waves-effect" style="margin-left: 1em; vertical-align: middle;">
                        <a class="white-text font-raleway" style="display: table-cell" href="~/@pgr.LinkToNewer">
                            newer
                            <i class="material-icons white-text" style="vertical-align: middle;">chevron_right</i>
                        </a>
                    </li>
                }
            </ul>
        }

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12 center-align">
                <span class="center-align white-text font-shadows-into-light">EXPLORE</span>
            </div>
            <div class="col s6 m4 l2 center-align pt-1">
                <a class="waves-effect waves-light btn-small font-raleway" id="alaska" title="Alaska" href="~/categories/alaska">Alaska</a>
            </div>
            <div class="col s6 m4 l2 center-align pt-1">
                <a class="waves-effect waves-light btn-small font-raleway" id="canada" title="Canada" href="~/categories/canada">Canada</a>
            </div>
            <div class="col s6 m4 l2 center-align pt-1">
                <a class="waves-effect waves-light btn-small font-raleway" id="national-parks" title="National Parks" href="~/categories/national%20parks">National Parks</a>
            </div>
            <div class="col s6 m4 l2 center-align pt-1">
                <a class="waves-effect waves-light btn-small font-raleway" id="pnw" title="Pacific North West" href="~/categories/pnw">PNW</a>
            </div>
            <div class="col s6 m4 l2 center-align pt-1">
                <a class="waves-effect waves-light btn-small font-raleway" id="vanlife" title="Vanlife" href="~/categories/vanlife">Vanlife</a>
            </div>
            <div class="col s6 m4 l2 center-align pt-1">
                <a class="waves-effect waves-light btn-small font-raleway" id="winter-vanlife" title="Winter Vanlife" href="~/categories/winter%20vanlife">Winter Vanlife</a>
            </div>
        </div>
        @if (Model.PostListType == PostListType.Category || Model.PostListType == PostListType.Search)
        {
            <div class="row center-align">
                <a class="waves-effect waves-light btn font-raleway" title="All Post" href="/Blog">View All Posts</a>
            </div>
        }
    </div> 

        <partial name="~/Views/Themes/Materialize/_Shared/_ToTopSection.cshtml" model="topSectionWhite" />

    </main>

    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />

    <script>
        $(document).ready(function () {
            hookupListWaypoints();
            
            if (window.location.href.includes('categories')) {                
                var category = window.location.href.replace('https://www.parksandwils.com/categories/', '');
                switch (category) {
                    case "alaska":
                        $('#alaska').addClass('btn-active');
                        break;
                    case "canada":
                        $('#canada').addClass('btn-active');
                        break;
                    case "national parks":
                        $('#national-parks').addClass('btn-active');
                        break;
                    case "pnw":
                        $('#pnw').addClass('btn-active');
                        break;
                    case "vanlife":
                        $('#vanlife').addClass('btn-active');
                        break;
                    case "winter vanlife":
                        $('#winter-vanlife').addClass('btn-active');
                        break;
                }
            }
            $('#search-term').html(getParamByNameLower('term'));
        });
    </script>
</body>
</html>