@model PostModel
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Materialize/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"] blue-grey">
    <partial name="~/Views/Themes/Materialize/_Shared/_Header.cshtml" />

    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card card-hoverable">
                    <div class="card-image">
                        <img class="responsive-img" src="@Model.Blog.Cover" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12 m8 l8">
                                <h3 class="font-shadows-into-light">@Model.Post.Title</h3>
                            </div>
                            <div class="col s12 m4 l4">
                                <div class="chip">
                                    <img src="~/@Model.Post.Author.Avatar" alt="@Model.Post.Author.DisplayName">
                                    @Model.Post.Author.DisplayName
                                </div>
                                <span>@Model.Post.Published.ToFriendlyDateString()</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-content font-raleway post-content">
                        @Html.Raw(Model.Post.Content)
                    </div>
                    <div class="card-content">
                        <div id="disqus_thread"></div>
                        <script>

                            /**
                            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                            /*
                            var disqus_config = function () {
                            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                            };
                            */
                            (function () { // DON'T EDIT BELOW THIS LINE
                                var d = document, s = d.createElement('script');
                                s.src = 'https://parksandwils.disqus.com/embed.js';
                                s.setAttribute('data-timestamp', +new Date());
                                (d.head || d.body).appendChild(s);
                            })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Themes/Materialize/_Shared/_Footer.cshtml" />
</body>
</html>